* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Nunito;
	color: var(--primary-opp);
    text-overflow: ellipsis;
}

a {
	text-decoration: none;
} a:hover {
	text-decoration: underline;
}

::-webkit-scrollbar {
    width: 20px;
} ::-webkit-scrollbar-track {
    background-color: transparent;
} ::-webkit-scrollbar-thumb {
    background-color: var(--error-transparent);
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

body {
	display: flex;
	overflow: hidden;
	height: 100vh;
}

h1 {
    font-weight: 900;
    font-size: 36px;
}


button, input[type="submit"], input[type="image"] {
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 12px;
	text-wrap: nowrap;
}

input[type="text"], input[type="password"], textarea {
	font-size: 14px;
	padding: 12px 16px;
	border: none;
	outline: none;
	border-radius: 12px;
}

main {
    margin-top: 65px;
	display: flex;
	justify-content: center;
	width: 100%;
	padding: 20px;
	padding-right: 0px;
	overflow-y: scroll;
    overflow-x: hidden;
}

.error-msg {
	background-color: var(--error-transparent);
	color: var(--primary);
	padding: 8px 14px;
	border-radius: 8px;
	font-size: 14px;
}

.success-msg {
	background-color: var(--success-transparent);
	color: var(--primary);
	padding: 8px 14px;
	border-radius: 8px;
	font-size: 14px;
}